{% extends 'task/base.html' %}
{% block title %} Home {% endblock %}
{% block content %}

<h3 class="my-5">Welcome to Your Task List</h3>
<form hx-post="{% url 'create_task' %}" hx-target="#taskList" class="mx-auto">
  {% csrf_token %}
  <div class="mb-3 row align-items-center">
    <label for="todoText" class="col-auto col-form-label">Enter your task here: </label>
    <div class="col-6">
        <input type="text" name="title" class="form-control" id="todoText" required>
    </div>
    <div class="col-auto">
        <button class="btn btn-success">Add</button>
    </div>
  </div>
</form>
<div id="taskList">
  {% include 'task/includes/task-list.html' %}
</div>

{% endblock %}

{% block js_script %}
<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
      event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  })
</script>
{% endblock %}